# expo
#
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# node.js
#
node_modules/

# macOS
.DS_Store
.vscode/
.env
.env.local
.env.development.local
